<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('产品中心数据列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>产品标题：</label>
                                <input type="text" name="prodTitle"/>
                            </li>
                            <li>
                                <label>是否在首页产品中心展示：</label>
                                <select name="flag1" th:with="type=${@dict.getType('sys_show_hide')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>是否在首页产品海报展示：</label>
                                <select name="flag2" th:with="type=${@dict.getType('sys_show_hide')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="webMgt:mainProdCenter:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="webMgt:mainProdCenter:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="webMgt:mainProdCenter:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="webMgt:mainProdCenter:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('webMgt:mainProdCenter:edit')}]];
        var removeFlag = [[${@permission.hasPermi('webMgt:mainProdCenter:remove')}]];
        var flag1Datas = [[${@dict.getType('sys_show_hide')}]];
        var flag2Datas = [[${@dict.getType('sys_show_hide')}]];
        var prefix = ctx + "webMgt/mainProdCenter";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "产品中心数据",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '产品id',
                    visible: false
                },
                {
                    field: 'prodTitle',
                    title: '产品标题'
                },
                {
                    field: 'prodCommon1',
                    title: '产品规格'
                },
                {
                    field: 'prodCommon2',
                    title: '产品剂型'
                },
                {
                    field: 'prodCommon3',
                    title: '产品批准文号'
                },
                {
                    field: 'prodCommon4',
                    title: '产品执行标准'
                },
                {
                    field: 'prodImgAddress',
                    title: '产品图片地址'
                },
                {
                    field: 'flag1',
                    title: '是否在首页产品中心展示',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(flag1Datas, value);
                    }
                },
                {
                    field: 'flag2',
                    title: '是否在首页产品海报展示',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(flag2Datas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>